@import '../common.css';

.presentation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255,255,0.9);
  color: var(--black);
  z-index: var(--z-index-presentation);
  cursor: pointer;
  transition: bottom 0.8s ease, top 0.8s ease;

  &--hidden {
      top: -9999px;
      bottom: 9999px;
  }

  &__content {
    position: absolute;
    top: 50%;
    width: 70%;
    left: 50%;
    margin: auto;
    text-align: center;
    transform: translate(-50%, -50%);
    @media(--small){
      width: 100%;
      padding: 20px;
    }
  }
}

.lead {
  text-shadow: 0 0 2px solid var(--black);
  font-size: 2.5em;
  margin-bottom: 0;
  @media(--small){
    font-size: 1.5em;
  }
}
.pictos {
  line-height: 200px;
  height: 200px;
  svg {
    display: inline-block;
  }
  @media(--small){
    margin: 10px 0;
    height: 100px;
    line-height: 100px;
    svg {
      max-height: 100px;
      /*width: auto !important;*/
    }
  }

}
