@import "../../components/common.css";


:root {

}
/*.root {
  overflow-y: hidden;
  overflow-x: visible;
}*/

.appBar {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &Tabs {
    width: 100%;
  }
  @media (--small){
    & {
      display: block !important;
    }
    div:first-child {
      text-align: left;
    }
    &Tabs {
      width: auto;
    }
  }
}

.tab {
  &WithIcon {
    .tabText {
      @media(--small){
        display: none;
      }
    }
  }
  &Icon {
    display: none !important;
    @media(--small){
      display: block !important;
    }
  }
}
.content {
  padding-top: 0;
  > div:first-child {
    width: 100%;
  }
}

.innerTab {
  max-height: 100vh;
  overflow-y: auto;
  &:before {
    content: '';
    display: block;
    height: 62px;
    @media (--small){
      height: 125px;
    }
  }

}
