:root {

}
.appBar {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &Tabs {
    width: 100%;
  }
}

.content {
  padding-top: 62px;
}
