@import "../../components/common.css";


:root {

}

.appBar {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &Tabs {
    width: 100%;
  }
  @media (--small){
    & {
      display: block !important;
    }
    div:first-child {
      text-align: left;
    }
    &Tabs {
      width: auto;
    }
  }
}

.tab {
  &Text {

  }
  &WithIcon {
    .tabText {
      @media(--small){
        display: none;
      }
    }
  }
  &Icon {
    display: none !important;
    @media(--small){
      display: block !important;
    }
  }
}
.content {
  overflow: hidden;
  padding-top: 62px;
  padding-bottom: 62px;
  > div:first-child {
    width: 100%;
  }
  @media (--small){
    padding-top: 125px;
  }
}
.innerTab {
  overflow: hidden;
}
