@import './variables.css';


.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
  @media (--small){
    max-width: inherit;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.hidden-touch {
  @media (--small){
    display: none !important;
  }
}

.visible-touch {
  display: none;
  @media (--small){
    display: inherit;
  }
}

.scroll {
  overflow-y: scroll;
}
.noscroll {
  overflow: hidden;
}

.content {
  padding-top: 20px;
  display: flex;
  flex-flow: row;
  /*justify-content: space-around;*/
  align-content: stretch;

  &--left {
    padding-right: 30px;
    flex-grow: 7;
    max-width: 70%;
  }

  &--right {
    max-width: 30%;
    flex-grow: 3;
  }
  @media (--small){
    &--left, &--right {
      max-width: 100%;
    }
  }
}

.sep {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

input[type="checkbox"], label {
  margin-right: 0.5em;
}

label {
  font-weight: bold;
}

.fixed {
  position: fixed;
}

.btn {
  background-color: var(--primary-color);
  color: var(--black);
  padding: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;

  &:hover {
    background-color: color(var(--primary-color) lightness(90%));
  }

  a& {
    text-decoration: none;
    color: var(--black);
  }
}
