@import "../variables.css";

.brand {
  font-family: var(--font-family-brand);
  text-decoration: none;
}

.socials {
  z-index: var(--z-index-socials);
  position: fixed;
  top: 73px;
  right: 10px;
  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-right: 10px;
      svg {
        cursor: pointer;
      }
    }
  }

}
